html, body, #root {
  font-family: Akkurat Std, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  line-height: 2rem;
  background: white;
  font-size: 1rem;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

* {
  font-family: 'Nunito';
}
